* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 200vh;
  font-family: 'Poppins';
  background-color: lightgray;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  width: 100vw;
  height: 100vh;
}

h1 {
  position: absolute;
  left: 45%;
  top: 50vh;
  color: white;
  font-size: 5em;
}
