<div
  style='display:{{if this.current "block" "none"}}'
  {{did-insert this.didInsert}}
>
  <hex-color-picker class='picker' color={{this.color}}>
  </hex-color-picker>
  <h1>{{this.title}}</h1>

</div>